*{
    box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

.card img {
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  right: 7px;
  bottom: 22px;
}

  .card {
    width: 117px;
    height: 150px;
    margin: 10px;
    background: #A7E9AF;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
  }
  .card.flip {
    transform: rotateY(180deg);
  }